@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-size: 14px;
  --pf-global--BackgroundColor--light-100: #fff;
  --pf-c-button--m-primary--BackgroundColor: #293055;
  --pf-global--primary-color--100: #3b97d5;
  --pf-global--primary-color--200: #293055;
}

.login-pf {
  background: none;
  height: 100%; /* Asegura que tome toda la altura del padre */
  width: 100%;
}

html {
  width: 100%;
  height: 100%; /* Asegura que html también ocupe toda la altura */
}

.login-pf body {
  width: 100%;
  height: auto; /* Permite que la altura se ajuste al contenido */
  min-height: 100vh; /* Asegura al menos el 100% de la altura de la ventana */
  background-image: url('keycloak-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* ¡Añadido background-attachment: fixed! */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

#kc-header-wrapper {
  display: none;
}

.login-pf-page {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh; /* Asegura al menos el 100% de la altura de la ventana */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-pf {
  border-top: 0;
  margin: 0;
  flex: 0 0 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: var(--pf-global--BackgroundColor--light-100);
  padding: 20px;
}

.logo {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  display: block;
}

.login-pf-page .login-pf-header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
select {
  height: 48px;
  width: calc(100% - 40px);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="submit"] {
  width: 100%;
  background-color: #549fbd;
  color: rgb(60, 60, 60);
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="submit"]:hover {
  background-color: #458aa6;
}

#kc-form-options .checkbox {
  padding: 0;
  margin: 0;
}

.pf-c-form__label {
  font-weight: bolder;
  margin-bottom: 5px;
}

.pf-c-button,
.pf-c-button.pf-m-primary {
  color: var(--pf-c-button--m-primary--Color);
  background-color: var(--pf-c-button--m-primary--BackgroundColor);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.pf-m-primary:hover {
  background-color: #549fbd !important;
  color: #fff !important;
}

.login-subtitle {
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 16px 0;
  color: #3b97d5;
  text-align: center;
}

.pf-m-error {
  color: #ff0000 !important;
  margin-top: 5px;
  display: block;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.termstext {
  text-align: justify;
  margin-bottom: 20px;
}

.title-with-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.title-with-logo svg {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.button {
  min-width: 120px;
  position: relative;
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(ellipse at bottom, rgb(7, 79, 187) 0%, rgb(30, 95, 235) 45%);
  color: rgba(255, 255, 255, 0.66);
  transition: all 0.3s ease-in-out;
  margin: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.05) translateY(-2px);
}

.button:hover::before {
  opacity: 0.8;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.lockout-message {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

@media (max-width: 750px) {
  .login-pf-page {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto; /* Permite que la altura se ajuste en pantallas pequeñas */
  }

  .login-pf body {
    background-color: #fff;
    background-image: none;
    min-height: 100vh; /* Mantiene la altura mínima en pantallas pequeñas también */
  }

  .card-pf {
    flex: 0 0 auto;
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
  }

  .login-pf-page .login-pf-header h1 {
    margin-top: 2vh;
    font-size: 1.5rem;
  }

  .logo {
    width: 60%;
    margin-bottom: 10px;
  }

  .login-subtitle {
    font-size: 0.9rem;
    padding: 10px 0;
  }

  .termstext {
    font-size: 0.9rem;
  }

  .title-with-logo svg {
    width: 20px;
    height: 20px;
  }

  .button {
    min-width: 100px;
    padding: 10px 14px;
    font-size: 0.9rem;
    margin: 0 5px;
  }

  .form-actions {
    margin-top: 15px;
  }

  .lockout-message {
    font-size: 12px;
    padding: 8px;
  }
}